In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from datetime import datetime

In [2]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
samplesubmission = pd.read_csv('SampleSubmission.csv')

In [3]:
train.head()

,ID,Year_of_Birth,Education_Level,Marital_Status,Disposable_Income,No_of_Kids_in_home,No_of_Teen_in_home,Date_Customer,Recency,Discounted_Purchases,...,Amount_on_SweetProducts,Amount_on_GoldProds,WebVisitsMonth,Cmp3Accepted,Cmp4Accepted,Cmp5Accepted,Cmp1Accepted,Cmp2Accepted,Any_Complain,Response
0,ID_4A9AR6FQ,1955,Graduation,Divorced,77504.4,1,1,22-06-2014,56,2,...,6,20,3,0,0,0,0,0,0,0
1,ID_X28T3VEK,1958,Graduation,Together,56784.0,0,1,01-08-2013,17,6,...,15,19,6,0,0,0,0,0,0,0
2,ID_AWXARH57,1962,Graduation,Single,103714.8,0,0,21-11-2013,17,0,...,18,37,2,0,0,0,1,0,0,1
3,ID_FQVZHE81,1979,2n Cycle,Single,46311.6,1,0,13-09-2013,49,3,...,24,24,8,0,0,0,0,0,0,0
4,ID_QVLWGPRN,1959,Graduation,Married,87486.0,0,0,21-01-2014,59,1,...,165,203,1,0,0,0,1,0,0,0

In [ ]:
test.head()

In [ ]:
samplesubmission.head()

In [ ]:
train.shape

In [ ]:
test.shape

In [ ]:
target = [col for col in train.columns if col not in test.columns]

target

In [ ]:
count = train['Response'].value_counts()

count

In [ ]:
plot = sns.countplot(train['Response'])
plot.set_xticklabels([0, 1])
plt.show

In [ ]:
train.info()

In [ ]:
train.describe()

In [ ]:
test.info()

In [ ]:
corrmat = train.corr()
f, ax = plt.subplots(figsize=(10,8))
sns.heatmap(corrmat, square=True)

In [ ]:
cat_feat = [feat for feat in train.columns if train[feat].dtype == 'O']

cat_feat

In [ ]:
num_feat = [feat for feat in train.columns if feat not in cat_feat]

num_feat

In [ ]:
train[num_feat].head()

In [ ]:
rem = ['Response']
for i in rem:
    num_feat.remove(i)
num_feat

In [ ]:
train[num_feat].head()

In [ ]:
train[num_feat].describe()

In [ ]:
print(train[num_feat].isnull().sum())

In [ ]:
updated_train = train
updated_train['Disposable_Income'] = updated_train['Disposable_Income'].fillna(updated_train['Disposable_Income'].median())

In [ ]:
updated_train.info()

In [ ]:
print(updated_train[num_feat].isnull().sum())

In [ ]:
print(test[num_feat].isnull().sum())

In [ ]:
updated_test = test
updated_test['Disposable_Income']=updated_test['Disposable_Income'].fillna(updated_test['Disposable_Income'].median())

print(updated_test[num_feat].isnull().sum())

In [ ]:
updated_train[num_feat].info()

In [ ]:
scaler = StandardScaler()
cols = num_feat
X = scaler.fit_transform(updated_train[num_feat])
testing = scaler.transform(updated_test[num_feat])
X = pd.DataFrame(data=X, columns=cols)
testing = pd. DataFrame(data=updated_test, columns=cols)

X.head()

In [ ]:
feature_importances_df = pd.DataFrame({"feature": list(X.columns), "importance": rmmodel.feature_importances_}).sort_values("importance", ascending=False)

feature_importances_df

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, updated_train.Response, stratify=updated_train.Response, test_size=0.30, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rmmodel = RandomForestClassifier(n_estimators=100)
rmmodel.fit(X_train, y_train)

In [ ]:
pred1 = rmmodel.predict(X_test)
pred2 = rmmodel.predict(X_train)

In [ ]:
samplesubmission.head()

In [ ]:
submission_file = samplesubmission.copy()

In [ ]:
print(rmmodel.predict(testing))

In [ ]:
submission_file.Response = rmmodel.predict(scaler.transform(testing))

In [ ]:
submission_file.head()

In [ ]:
sns.countplot(submission_file.Response)
plt.show()

In [ ]:
submission_file.to_csv('submission1', index=False)

In [ ]:
import imblearn

In [ ]:
from imblearn.under_sampling import RandomUnderSampler

rus = RandomUnderSampler(random_state=42)
x_rus, y_rus = rus.fit_resample(updated_train[num_feat], updated_train.Response)

print(updated_train.Response.value_counts())
print(y_rus.value_counts())

In [ ]:
scaler = StandardScaler()
cols = num_feat
X = scaler.fit_transform(x_rus)
testing = scaler.transform(updated_test[num_feat])
X = pd.DataFrame(data=X, columns=cols)
testing = pd.DataFrame(data=testing, columns=cols)

# X = train[numerical_feat]
X.head()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y_rus, stratify=y_rus, test_size=0.33, random_state=42)

In [ ]:
rmmodel = RandomForestClassifier(n_estimators=100)
rmmodel.fit(X_train, y_train)

In [ ]:
pred1 = rmmodel.predict(X_test)
pred2 = rmmodel.predict(X_train)

In [ ]:
print('Training Set')
print('classifier f1_score {}'.format(f1_score(y_train,pred2)))
print(" ")
print('Testing Set')
print('classifier f1_score {}'.format(f1_score(y_test,pred1)))

In [ ]:
samplesubmission.head()

In [ ]:
submission_file = samplesubmission.copy()

In [ ]:
print(rmmodel.predict(updated_test[num_feat]))

In [ ]:
submission_file.Response = rmmodel.predict(scaler.transform(updated_test[num_feat]))

In [ ]:
submission_file.head()

In [ ]:
sns.countplot(submission_file.Response)
plt.show()

In [ ]:
submission_file.to_csv('submission24', index=False)

In [ ]:
n_estimators = [500, 800, 1500, 5000]
max_features = ['auto', 'sqrt', 'log2']
max_depth = [10, 20, 30, 40, 50]
max_depth.append(None)
min_samples_split = [2, 5, 10, 15, 20]
min_samples_leaf = [1, 2, 5, 10, 15]

In [ ]:
grid_param = {'n_estimators': n_estimators,
             'max_features': max_features,
             'max_depth': max_depth,
             'min_samples_split': min_samples_split,
             'min_samples_leaf': min_samples_leaf}

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
RFC = RandomForestClassifier(random_state=1)
RFC_random = RandomizedSearchCV(estimator = RFC, param_distributions = grid_param, n_iter = 500, cv =5,
                                verbose=2, random_state=42, n_jobs = -1)

In [ ]:
RFC_random.fit(X_train, y_train)
print(RFC_random.best_params_)

In [ ]:
{'n_estimators': 800, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'auto', 'max_depth': 40}